@tailwind base;
@tailwind components;
@tailwind utilities;

.wave-container {
    display: flex;
    align-items: center;
    gap: 2px;
  }
  
  .wave {
    width: 5px;
    height: 10px;
    background-color: white;
    animation: wave 1s infinite;
    border-radius: 2px;
  }
  
  .wave:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .wave:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  @keyframes wave {
    0%, 100% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(2);
    }
  }